<form data-bind="submit: Resolve">
    <div><span data-bind="text: Name"></span></div>
    <div><input type="number" name="suggestedDamage" /></div>
    <div>
        <label>
            <input type="radio" name="damageType" value="damage" checked />
            Damage
        </label>
        <label>
            <input type="radio" name="damageType" value="healing" />
            Healing
        </label>
    </div>
    <div><button type="submit" class="fa fa-check button"></button></div>
</form>
